---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import Sites from '../components/Sites.astro';

const name = 'The Oreno';
const slog = 'An Insignificant Mortal Dream Projects';
---

<Layout title={`${name}: ${slog}`}>
	<div class="container mx-auto">
		<main class="">
			<Welcome name={name} slog={slog} />
			<Sites />
		</main>
	</div>
</Layout>
