---
---

<ul class="w-9/12 grid md:grid-cols-2 gap-4 py-4 m-auto">
	<li class="rounded-md border hover:bg-neutral-50 hover:text-black">
		<a
			href="//comicking.oreno.my.id"
			class="flex flex-col space-y-1 justify-center items-center w-full h-24"
		>
			<h2
				class="text-xl text-transparent font-bold bg-clip-text"
				style="background-color: #1fe03c;"
			>ComicKing</h2>
			<small class="">Comic Catalog</small>
		</a>
	</li>
	<li class="rounded-md border hover:bg-neutral-50 hover:text-black">
		<a
			href="//comicbagi.oreno.my.id"
			class="flex flex-col space-y-1 justify-center items-center w-full h-24"
		>
			<h2
				class="text-xl text-transparent font-bold bg-clip-text"
				style="background-color: #ff8000;"
			>ComicBagi</h2>
			<small class="">Comic Hosting Catalog</small>
		</a>
	</li>
</ul>
