---
interface Props {
	name: string;
	href: string;
	info: string|null;
	full: boolean;
	color: string;
}

const { name, href, info, full, color } = Astro.props;
---

<li class={
		"rounded-md border hover:bg-neutral-50 hover:text-black"
		+ (full ? " col-span-2" : "")
	}>
	<a
		href={href}
		class={
			"flex flex-col space-y-1 justify-center items-center w-full"
			+ (info ? " h-24" : " h-12")
		}
	>
		<h2
			class="text-xl text-transparent font-bold bg-clip-text"
			style=`background-color: ${color};`
		>{name}</h2>
		{info && <small class="">{info}</small>}
	</a>
</li>
